body {
    display: flex;
    background-color: #FEFDFC;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;

}

body::-webkit-scrollbar {
    width: 7px;
  }
  
  body::-webkit-scrollbar-track {
    background: #FEFDFC;   
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #C7ADD1;    /* cor do scroll */
    border-radius: 20px;       /* arredondamento da borda do scroll */
    border: 3px solid #C7ADD1;  /* cor da borda do scroll */
  }
.IndexGeral {
    flex-direction: column;

}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    position: fixed;


}

.blocoNavbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #766FA1;
    width: 100vw;
    height: 9vh;
}

.blocoNavbar img {
    width: 10vw;
    height: 5vh;
    margin-right: 470px;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 50vw;
    color: #FEFDFC;
    font-size: larger;
}

.navbar li {
    font-family: 'Questrial-Regular';
}

.navbar a{
    font-family: 'Questrial-Regular';
    text-decoration: none;
    color: #FEFDFC;
    transition: 5s;
}

.navbar li:hover {
    color: #FFDE59;
}


.navbar button {
    height: 23px;
    width: 120px;
    border-radius: 10px;
    border: none;
    background-color: #FEFDFC;
    cursor: pointer;
    font-family: 'Questrial-Regular';
    font-size: medium;
}

.navbar button:hover {
    background-color: #FFDE59;
}


@font-face {
    font-family: 'Questrial-Regular';
    src: url('Questrial-Regular.ttf');
}

@font-face {
    font-family: 'FontFriends';
    src: url('Gabriel\ Weiss\'\ Friends\ Font.TTF');
}

.fundoI {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.575);
}

.fundoIndex{
    width: 100vw;
    height: 100vh;
    background-image: url("https://i.pinimg.com/originals/b6/a4/66/b6a4663baf2f3f13e11ec80178e2d790.webp");
    background-size: cover;
}


.historia {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #FEFDFC;
}

.boxHistoria {
    width: 90vw;
    height: 90vh;
    background-color: #EEE9F0;
    border: 2px solid #766FA1;
    border-radius: 20px;
}

.boxHistoria .titulo {
    display: flex;
    justify-content: center;
    width: 90vw;
    height: 10vh;
}

.titulo .bolinha {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50px;
}

.curiosidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #EEE9F0;
}

.curiosidades h1 {
    font-family: "FontFriends" ;
}

.quiz {
    width: 100vw;
    height: 100vh;
    background-image: url('fundoQuiz.png');
    background-size: cover;
}


.swiper {
    display: flex;
    flex-direction: column;
    width: 65vw;
    height: 60vh;
    margin-bottom: 5%;
    border-radius: 20px;
    position: fixed;


}


.swiper-slide {
    width: 50vw;
    height: 50vh;
    background-image: url('fundoCadastro.png');
    background-size: cover;
    border-radius: 20px;

}

.box-swiper1 {
    display: flex;
    flex-direction: row;
    width: 65vw;
    height: 60vh;
    border-radius: 20px;

}

.fotoP {
    width: 22vw;
    height: 59vh;
    background-image: url('rachelFoto.png');
    background-size: cover;
    margin-top: 1%;
    border-radius: 10px;

}

.descricao {
    display: flex;
    justify-content: center;
    width: 43vw;
    height: 60vh;
}

.box-swiperP {
    display: flex;
    width: 65vw;
    height: 60vh;
    border-radius: 20px;


}

.fotoP1 {
    width: 65vw;
    height: 60vh;
    background-image: url('fotoPersonagensGeral.jpg');
    background-size: cover;
    margin-top: 1%;
    border-radius: 10px;

}


