body {
    display: flex;
    background-color: #FEFDFC;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;

}

body::-webkit-scrollbar {
    width: 7px;
  }
  
  body::-webkit-scrollbar-track {
    background: #FEFDFC;   
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #C7ADD1;    /* cor do scroll */
    border-radius: 20px;       /* arredondamento da borda do scroll */
    border: 3px solid #C7ADD1;  /* cor da borda do scroll */
  }
.IndexGeral {
    flex-direction: column;

}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    position: fixed;


}

.blocoNavbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #766FA1;
    width: 100vw;
    height: 9vh;
}

.blocoNavbar img {
    width: 10vw;
    height: 5vh;
    margin-right: 200px;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 70vw;
    color: #FEFDFC;
    font-size: larger;
}

.navbar li {
    font-family: 'Questrial-Regular';
}

.navbar a{
    font-family: 'Questrial-Regular';
    text-decoration: none;
    color: #FEFDFC;
    transition: 5s;
}

.navbar li:hover {
    color: #FFDE59;
}


.navbar button {
    height: 23px;
    width: 120px;
    border-radius: 10px;
    border: none;
    background-color: #FEFDFC;
    cursor: pointer;
    font-family: 'Questrial-Regular';
    font-size: medium;
}

.navbar button:hover {
    background-color: #FFDE59;
}

.fundoI {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.575);
}

.fundoIndex{
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/imgs/fundoIndex.avif");
    background-size: cover;
}

.logoFrase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 91vh;
    
}

.logoFrase p {
    width: 30vw;
    color: #ffffff;
    text-align: center;
    font-size: larger;
    font-family: 'Questrial-Regular';

}

.sobreMim {
    display: flex;
    flex-direction: row;
    height: 85vh;
    width: 100vw;
    background-color: #FEFDFC;
    border-width: 25px;

}

@font-face {
    font-family: 'Questrial-Regular';
    src: url('../assets/font/Questrial-Regular.ttf');
}

.tituloSM {
    display: flex;
    flex-direction: column;
    width: 55vw;
    height: 100vh;
}

.enfeiteSM {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
    width: 50vw;
    height: 55vh;
}

.imagensSM {
    width: 45vw;
    height: 100vh;
}

.icone1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 45vw;
    height: 30vh;
}
.icone1 img {
    width: 26vw;
    height: 25vh;
}

.icone2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45vw;
    height: 50vh;

}

.escritaSM {
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-spacing: 5px;
    width: 50vw;
    height: 50vh;
    margin-top: 5%;
}

.escritaSM h1 {
    font-family: 'Questrial-Regular';
    color: #766FA1;

}
.titulo1 {
    display: flex;
    flex-direction: row;
}
.linha {
    width: 4px;
    height: 5vh;
    margin-left: 15%;
    margin-top: 3%;
    margin-right: 3%;
    background-color: #FFDE59;
}

.escritaSM p {
    font-family: 'Questrial-Regular';
    margin-left: 15%;
    font-size: large;
    color: #737373;

}

.sobreBlog {
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 100vw;
    background-color: #EEE9F0;
}

.imgsSB {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 45vw;
    height: 80vh;

}

.imgsSB img {
    width: 33vw;
    height: 67vh;
}

.linhaSB {
    width: 3vw;
    height: 10vh;
    background-color: #FFDE59;
}

.tituloSB {
    display: flex;
    justify-content: flex-end;
    width: 55vw;
    height: 20vh;
}

.fundoSB {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18vw;
    height: 7vh;
    border-radius: 25px;
    font-family: 'Questrial-Regular';
    color: #766FA1;
    font-size: x-large;
    margin-top: 10%;
    margin-right: 10%;
}

.fundoSB .linha {
    height: 7vh;
    margin-left: 5%;
}

.textoSB {
    width: 55vw;
    height: 100vh;
}

.escritaSB {
    display: flex;
    flex-direction: column;
    justify-content: right;
    word-spacing: 5px;
    width: 50vw;
    height: 44vh;
}

.escritaSB p {
    font-family: 'Questrial-Regular';
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
    font-size: large;
    color: #737373;
    text-align: right;
}

.botaoSB {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55vw;
    height: 8vh;
}

.botaoSB button {
    height: 30px;
    width: 180px;
    border-radius: 10px;
    border: none;
    background-color: #766FA1;
    cursor: pointer;
    font-family: 'Questrial-Regular';
    font-size: medium;
    color: #FEFDFC;
    margin-top: 7%;
}

.botaoSB button:hover {
    background-color: #FFDE59;
}

.maisSB {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
    background-color: #FEFDFC;
}

.maisSB .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 60vh;
    width: 90vw;
}

.box {
    display: flex;
    flex-direction: column;
    height: 68vh;
    width: 26vw;
    background-color: #EEE9F0;
    border: 2px solid #C7ADD1;
    border-radius: 30px;
}

.box .boxInterno {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26vh;
    width: 26vw;
    border-radius: 30px;

}

.boxEscrita {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 34vh;
    width: 26vw;
    font-family: "Questrial-Regular";

}

.boxEscrita h3 {
    color: #766FA1;
    font-size: larger;
    margin-bottom: 0%;
    margin-top: 0%;
}

.boxEscrita p {
    color: #585858;
    font-size: medium;
    text-align: center;
    padding: 25px;
    letter-spacing: 1px;
}
.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10vh;
    width: 100vw;
    background-color: #766FA1;

}

.logoFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10vh;
    width: 20vw;
}

.logoFooter h3 {
    color: #FEFDFC;
    font-family: 'Questrial-Regular';
    margin-left: 35%;

}

.direitos {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10vh;
    width: 50vw;
}

.linhaFooter {
    width: 2px;
    height: 8vh;
    background-color: #FEFDFC;
    margin-left: 15%;
}

.direitoD {
    height: 8vh;
    width: 30vw;
    margin-left: 5%;

}

.direitoD p {
    color: #FEFDFC;
    font-family: 'Questrial-Regular';
    font-size: small;
}
.contato {
    margin-left: 5%;

}
.contato p {
    color: #FEFDFC;
    font-family: 'Questrial-Regular';
    font-size: small;
}
