body {
    display: flex;
    background-color: #FEFDFC;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
    

}

.telaGeral {
    flex-direction: column;

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    position: fixed;


}

.blocoNavbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #766FA1;
    width: 100vw;
    height: 9vh;
}

.blocoNavbar img {
    width: 10vw;
    height: 5vh;
    margin-right: 200px;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 70vw;
    color: #ffffff;
    font-size: large;
}


.navbar button {
    height: 23px;
    width: 120px;
    border-radius: 10px;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}


.corpoCadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url('fundoCadastro.png');
    background-size: cover;}

.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    width: 48vw;
    height: 65vh;
    background-color: #766FA1;
    border-radius: 15px;
}

@font-face {
    font-family: 'FontFriends';
    src: url('Gabriel\ Weiss\'\ Friends\ Font.TTF');
}
.box h1 {
    font-family: "FontFriends" ;
    color: #ffffff;
}