body {
    display: flex;
    background-color: #FEFDFC;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;

}

body::-webkit-scrollbar {
    width: 7px;
  }
  
  body::-webkit-scrollbar-track {
    background: #FEFDFC;   
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #C7ADD1;    /* cor do scroll */
    border-radius: 20px;       /* arredondamento da borda do scroll */
    border: 3px solid #C7ADD1;  /* cor da borda do scroll */
  }
.IndexGeral {
    flex-direction: column;

}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    position: fixed;


}

.blocoNavbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #766FA1;
    width: 100vw;
    height: 9vh;
}

.blocoNavbar img {
    width: 10vw;
    height: 5vh;
    margin-right: 470px;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 50vw;
    color: #FEFDFC;
    font-size: larger;
}

.navbar li {
    font-family: 'Questrial-Regular';
}

.navbar a{
    font-family: 'Questrial-Regular';
    text-decoration: none;
    color: #FEFDFC;
    transition: 5s;
}

.navbar li:hover {
    color: #FFDE59;
}


.navbar button {
    height: 23px;
    width: 120px;
    border-radius: 10px;
    border: none;
    background-color: #FEFDFC;
    cursor: pointer;
    font-family: 'Questrial-Regular';
    font-size: medium;
}

.navbar button:hover {
    background-color: #FFDE59;
}


@font-face {
    font-family: 'Questrial-Regular';
    src: url('Questrial-Regular.ttf');
}

.fundoHOME {
    width: 100vw;
    height: 100vh;
    background-color: #FEFDFC;
}

.identificacao {
    width: 19vw;
    height: 100vh;
    background-color: #766FA1;
}

.foto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 19vw;
    height: 30vh;
    background-color: #FFDE59;
}

.foto img {
    width: 5vw;
    height: 10vh;
}
