body {
    display: flex;
    background-color: #FEFDFC;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;

}

body::-webkit-scrollbar {
    width: 7px;
  }
  
  body::-webkit-scrollbar-track {
    background: #FEFDFC;   
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #C7ADD1;    /* cor do scroll */
    border-radius: 20px;       /* arredondamento da borda do scroll */
    border: 3px solid #C7ADD1;  /* cor da borda do scroll */
  }
.IndexGeral {
    flex-direction: column;

}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    position: fixed;


}

.blocoNavbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #766FA1;
    width: 100vw;
    height: 9vh;
}

.blocoNavbar img {
    width: 10vw;
    height: 5vh;
    margin-right: 200px;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 70vw;
    color: #FEFDFC;
    font-size: larger;
}


.navbar button {
    height: 23px;
    width: 120px;
    border-radius: 10px;
    border: none;
    background-color: #FEFDFC;
    cursor: pointer;

}

.fundoI {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.575);
}

.fundoIndex{
    width: 100vw;
    height: 100vh;
    background-image: url("fundoIndex.avif");
    background-size: cover;
}

.logoFrase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 91vh;
    
}

.logoFrase p {
    width: 30vw;
    color: #ffffff;
    text-align: center;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.sobreMim {
    height: 91vh;
    width: 100vw;
    background-color: purple;
}