body {
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;

}

body::-webkit-scrollbar {
    width: 7px;
  }
  
  body::-webkit-scrollbar-track {
    background: #FEFDFC;   
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #C7ADD1;    /* cor do scroll */
    border-radius: 20px;       /* arredondamento da borda do scroll */
    border: 3px solid #C7ADD1;  /* cor da borda do scroll */
  }
.dashGeral {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    background-color: #EEE9F0;

}

.boxUsuario {
    height: 100vh;
    width: 17vw;
    background-color: #766FA1;
}

.boxUsuario .nomeUsuario {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 30vh;
    width: 17vw;
    color: #EEE9F0;
    font-family: 'Questrial-Regular';
}

.boxConteudo {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 83vw;
}

.boxConteudo .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 9vh;
    width: 83vw;
}

.boxConteudo .header img {
    width: 10vw;
    height: 5vh;
    margin-right: 3%;
}

.metricas {
    display: flex;
    flex-direction: column;
    height: 91vh;
    width: 83vw;
}

.metricas .metricasGeral {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 51vh;
    width: 83vw;
}

.metricasGeral .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 36vh;
    width: 25vw;
    background-color: #EEE9F0;
    border: 4px solid #766FA1;
    border-radius: 30px;
}



.metricas .ranking {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 83vw;
}

.ranking .boxRanking {
    height: 35vh;
    width: 58vw;
    background-color: #C7ADD1;
}


@font-face {
    font-family: 'Questrial-Regular';
    src: url('Questrial-Regular.ttf');
}

@font-face {
    font-family: 'FontFriends';
    src: url('Gabriel\ Weiss\'\ Friends\ Font.TTF');
}



